/* FILE: main/sidebar/__footer-secondary.scss */

//
// Footer secondary widgets area
//





.footer-secondary-widgets {
	@extend %horizontal_widget_area;
	padding-top: 1em;
	padding-bottom: 1em;

	&-inner {
		padding-left: 4%;
		padding-right: 4%;

		@include responsive( map_get( $breakpoint, 'm' ), 'max-width' ) {
			// Preventing mobile horizontal scrolling
			// (Required for horizontal_widget_area.)
			overflow: hidden;
		}

	}

}
