/* FILE: main/content/__page.scss */

//
// Page styles
//





// Page content

	.page-header + .page-content {
		margin-top: $golden +em;
	}



// Special pages

	// Error 404 and "Not found" page

		.error-404,
		.not-found {

			form {
				display: inline-block;
				width: percentage( $golden_major );

				&::before {
					padding: ( $golden_minor +em ) 0;
					line-height: 1em + $golden_minor / 2;
				}

			}

		}

		.not-found {

			// There is a sidebar on this page

			form {
				width: 100%;
			}

		}

		.error404 {

			.page-content {
				margin-top: 1em;
			}

			form {

				@include responsive( map_get( $breakpoint, 'l' ) ) {
					max-width: percentage( $golden_major );
				}

				@include responsive( map_get( $breakpoint, 'xl' ) ) {
					max-width: percentage( $golden_minor );
				}

			}

		}



// Page templates

	// Blank

		.page-template-blank {
			padding: 0; // Remove any body padding on blank page template
		}



	// List child pages

		// Page layout

			.page-template-child-pages {
				@extend %fullwidth_sections_layout;

				&:not(.fl-builder) .site-main .entry-content {
					@extend %content_width;
					padding: $padding_vertical 0 0;

						&-inner:not(:empty) {
							padding-bottom: power( $golden, 2 ) +rem;
						}

					@include responsive( map_get( $breakpoint, 'l' ) ) {

						&-inner:not(:empty) {
							padding-bottom: $padding_vertical;
						}

					}

					@include responsive( map_get( $breakpoint, 'xl' ) ) {

						&:first-child {
							padding-top: $golden * $padding_vertical;
						}

					}

				}

				.entry-content:empty {
					display: none;

					+ .list-child-pages-section {
						padding-top: $padding_vertical;

						@include responsive( map_get( $breakpoint, 'xl' ) ) {
							padding-top: $golden * $padding_vertical;
						}

					}

				}

			}



		// Child pages list

			.list-child-pages {
				display: flex;
				flex-wrap: wrap;
				margin-left: -1em;
				margin-right: -1em;

				&-section {
					clear: both;
					padding-bottom: $padding_vertical;

					@include responsive( map_get( $breakpoint, 'xl' ) ) {
						padding-bottom: $golden * $padding_vertical;
					}

					&:first-child {
						// What if child pages are above page content?
						padding-bottom: 0;
						padding-top: power( $golden, 2 ) +em;

						@include responsive( map_get( $breakpoint, 'l' ) ) {
							padding-top: $padding_vertical;
						}

						@include responsive( map_get( $breakpoint, 'xl' ) ) {
							padding-top: $golden * $padding_vertical;
						}

					}

				}

				&-container {
					@extend %content_width;
				}

			}



		// Child page list item

			.child-page {
				@extend %background_overlay_from_text_color;
				flex: 0 1 auto;
				display: flex;
				flex-direction: column;
				width: calc( 100% - 2em );
				padding: $golden +em;
				margin: 1em;
				border: 1px solid transparent;
				border-bottom-width: 2px;
				border-bottom-color: inherit;
				transition: transform ( $small_animation_speed +s );

				&::before {
					transition: opacity ( $small_animation_speed +s );
				}

				&:hover {
					border-color: inherit;
					transform: translateY( -4px );

					&::before {
						opacity: 0;
					}

				}

				@include responsive( map_get( $breakpoint, 'm' ) ) {
					width: calc( 50% - 2em );
					padding: power( $golden, 2 ) +em;
				}

				@include responsive( map_get( $breakpoint, 'l' ) ) {
					width: calc( 33.33% - 2em );

					&:nth-child(1):nth-last-child(2),
					&:nth-child(2):nth-last-child(1) {
						width: calc( 50% - 2em );
					}

				}

				.entry-summary {
					margin-bottom: 0;
				}

				p:not(:last-child) {
					margin-bottom: 1em;
				}



				// Child page thumbnail

					&-image {
						margin-bottom: power( $golden, 2 ) +rem;
					}



				// Child page title

					&-title {
						@extend %uppercase_letter_spaced;
						margin: 0;
						margin-bottom: $golden_minor + 1rem;
						line-height: inherit;
						font-size: 1em;
					}



				// More link

					.link-more {
						// The container
						margin-top: $golden +em;
					}

					.more-link {
						// The actual link
						@extend %button_base;
						display: inline-block;
						border-color: currentColor;
					}

			}



	// Project layout

		.page-template-project-layout,
		.wm_projects-template-project-layout {

			&.no-widgets-sidebar .content-area {

				html & {
					// Unfortunately, we need to rise specificity for `max-width` due to possible IE shame styles overrides later.
					max-width: none;
				}

			}

			.content-area {

				.entry {
					@extend .clearfix;
				}

				.project-layout-media {
					margin-bottom: power( 1 + $golden_minor, 4 ) +em;
				}

				@include responsive( map_get( $breakpoint, 'l' ) ) {

					.entry-content {
						float: $left; // {{RTL}}
						width: percentage( ( 50 - $page_content_gutter ) / 100 );
					}

					.project-layout-media {
						float: $right; // {{RTL}}
						width: 50%;
					}

				}

				@include responsive( map_get( $breakpoint, 'xl' ) ) {

					.entry-content {
						width: percentage( ( 100 - $page_content_width - $page_content_gutter ) / 100 );
					}

					.project-layout-media {
						width: percentage( $page_content_width / 100 );
					}

				}

			}

		}
